@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
}

*, *::before, *::after {
  box sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  font-family: 'Russo One', sans-serif;
}

.me {
  width: 20%;
  border-radius: 60px;
  height: auto;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10%;

}

h1 {
  text-align: center;
  color: white;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

p {
  padding: 0 1rem;
}

footer {
  text-align: center;
  background-color: #052b45;
  padding: 1.5em 0;
  font-family: 'Russo One', sans-serif;
}

a {
  color: white;
}

h2 {
  color: white;
  margin-top: 0;
}

.svg {
  width: 85%;
  height: auto;
  transition: all .2s ease-in-out;
}

.svg:hover {
  transform: scale(1.5);
}

.nav {
  margin: 0;
}

nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  padding-bottom: 1.25em;
}

.nav li {
  display: inline-block;
  width: 15%;
}

.nav a {
  display: inline-block;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  height: auto;
  transition: all .2s ease-in-out;
}

.img:hover {
  transform: scale(1.2);
}

.imgs a {
  display: inline-block;
}

.imgs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  padding-bottom: 1.25em;
}

.imgs li {
  display: inline-block;
  width: 30%;
}

@media only screen and (min-width: 31em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  p {
    padding: 0 2em;
  }

  .svg {
    width: 65%;
    height: auto;
  }

}

@media only screen and (min-width: 37em) {

  p {
    padding: 0 4em;
  }

  .me {
      margin-top: 4%;
      border-radius: 80px;
  }

  h1 {
    margin-top: 0.25em;
  }

}

@media only screen and (min-width: 43em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }

  .me {
    display: inline-block;
    vertical-align: middle;
    margin: 2em;
    width: 12%;
  }

  .head {
    padding-left: 4em;
  }

  footer {
    padding: 1em 0;
  }

  .svg {
    width: 40%;
  }

  h2 {
    margin-bottom: 0.2em;
  }

  nav {
    padding-bottom: 0em;
  }

  @media only screen and (min-width: 50em) {

}
